body {
    display: flex;
    justify-content: center;
}

    main {
        width:80%;
        height: 98vh; /*  to make it whole page */
        display: flex;
        flex-direction: row;
        overflow: hidden;
        background-color:rgb(220,220,220);
        justify-content: center;
    }

        #left-side {
            width: 18%;
            display: flex;
            flex-direction: column;
            background-color:rgb(200,200,180);
        }

            #card-view {
                display: flex;
                flex-direction: row;
                height:60%;
                width:100%;
                border:solid;
            }

            #deck-buttons {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

                .deck-constructor-button {
                    width: 48%;
                    margin:1%;
                    padding:2%;
                    background-color: rgb(220,220,220);
                }

                #select-deck {
                    width:100%;
                    text-align: center;
                    background-color: rgb(220,220,220);
                }

        #deck-list {
            width:60%;
            display: flex;
            flex-direction: column;
            background-color:rgb(180,120,120);
        }


            #main-deck-section {
                height:74%;
                display: flex;
                flex-direction: row;
                overflow: hidden;
            }

            #extra-deck-section {
                height:13%;
                display: flex;
                flex-direction: row;
                overflow: hidden;
            }

            #side-deck-section {
                height:13%;
                display: flex;
                flex-direction: row;
                overflow: hidden;
            }

                .title-main-deck {
                    /* border:solid; */
                    height:3.5%;
                    width:100%;
                    padding-top:0.2vw;
                    padding-left:0.3vw;
                    margin:0;
                    font-size:1.3vw;
                }

                .title-extra-deck {
                    /* border:solid; */
                    height:19%;
                    width:100%;
                    padding-top:0.2vw;
                    padding-left:0.3vw;
                    margin:0;
                    font-size:1.3vw;
                }

                .title-side-deck {
                    /* border:solid; */
                    height:19%;
                    width:100%;
                    padding-top:0.2vw;
                    padding-left:0.3vw;
                    margin:0;
                    font-size:1.3vw;
                }

        #search-section {
            width:22%;
            display: flex;
            flex-direction: column;
            background-color:rgb(130,130,160);

        }

            #filter-rows-box {
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .filter-row {
                display:flex;
                flex-direction: column;
                width:100%;
                display: inline;
                padding-top:0.2vw;
                padding-bottom:0.2vw;
                padding-left: 0.3vw;
            }

            .filter-box {
                width:20%;
            }

                .name-label {
                    font-size:1.2vw;
                }

                .name-box {
                    width:74%;
                }

                .desc-label {
                    font-size:1.2vw;
                }

                .desc-box {
                    width:58%;
                }

                .card-type-label {
                    width:20%;
                    font-size:1.2vw;
                }

                .card-type-box {
                    width: 38%;
                }

                .card-subtype-label {
                    font-size:1.2vw;
                }

                .card-subtype-box {
                    width: 38%;
                }

                .card-mechanic-box {
                    width:38%;
                }

                .att-select-label {
                    font-size:1.2vw;
                }

                .att-select-box {
                    width: 19%;
                }

                .level-label {
                    font-size:1.2vw;
                }

                .level-box {
                    width: 10%;
                }

                .atk-label {
                    font-size:1.2vw;
                }

                .atk-box {
                    width:35%;
                }

                .def-label {
                    font-size:1.2vw;
                }

                .def-box {
                    width:35%;
                }

                .limit-label {
                    font-size:1.2vw;
                }

                #limit-and-search-box {
                    padding-top:0.2vw;
                    padding-left:0.3vw;
                    width:100%;
                }

                #search-button {
                    width:60%;
                    padding:0.3vw;
                    justify-content: center;

                }